* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background:#f5f5f5;
    color:#191919;
    font: 200 100%/1.4 Roboto, "Helvetica-Neue", Helvetica, sans-serif; 
}
.root {
    padding-top:100px;
}