.header {
    background:rgba(22,22,22, .95);
    display: flex;
    padding:24px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    will-change: transform;
    justify-content: space-between; 
}
.header__icon {
    position: fixed;
    right:30px;
    top:32px;
    opacity:.4;
}
input:focus ~ .header__icon {
    opacity:.8;
}
.logo {
    min-width:100px;
}